
:root {
    --h: #BBB; /* Define your main color */
    --b: #BDF;
    --g: #3F3;
    --r: #F33;
	--p: #907;
}

div.callout-note.callout{
  border-left: none;
  border: 1px solid var(--h); /* Add a thin, light gray border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 6px 6px 0px var(--h); /* Subtle gray shadow */
  padding: 15px; /* Space inside the box */
  background-color: #f9f9f9; /* Light gray background color */
  margin: 25px 0; /* Space around the callout box */
}

div.callout-note.callout-style-default>.callout-header{
	background-color: var(--h);
	border-radius: 6px;
}

/* Make bold text more prominent */
strong, b {
    font-weight: 700;  /* Use a heavier weight */
    font-family: 'Arial', sans-serif;  /* Optional: Use a different font */
	color: var(--p);
}
h1{
	background-color: var(--h);
	border-radius: 10px; /* Add rounded corners */
	padding: 10px; /* Add some padding inside the highlight */
	margin-bottom: 10px; /* Space between the header and the content below */
}



h1, h2, h3, h4{
	text-align: center;
}

.nav-link{
	color: black;
}

.nav-item{
	border: 1px solid black;
	border-radius: 6px;
	margin: 2px;
}
.nav-tabs .nav-link.active{
	background-color: var(--h);
	border-radius: 6px;
	color: black;
}

.tab-content{
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 6px 6px 0px var(--h);
}

.tab-content dd p::before {
    content: none; /* Remove the bullet point */
}

.tab-content dd p {
    margin-left: 0; /* Reset the left margin */
}


dt {
	background-color: var(--h);
	border-radius: 6px;
	padding: 1px 4px 3px 5px;
	display: inline;
}

dd p::before {
    /*content: "•"; /* Add any symbol or text for the bullet point */
    color: var(--g); /* Customize the bullet's color */
    font-size: 16px; /* Adjust bullet size */
    margin-right: 5px; /* Space between bullet and text */
    display: inline-block; /* Ensures proper alignment */
}


dd p{
	margin-left: 5%;
}



mjx-math.MJX-TEX {
	background-color: var(--b);
	border-radius: 6px;
	padding: 4px 3px;
}


span.math.display mjx-math.MJX-TEX {
	background-color: var(--b);
	border-radius: 6px;
	padding: 8px 8px;
}